<p id="notice"><%= notice %></p>

<p>
  <strong>Team home:</strong>
  <%= @match.team_home_id %>
</p>

<p>
  <strong>Team away:</strong>
  <%= @match.team_away_id %>
</p>

<p>
  <strong>Team home score:</strong>
  <%= @match.team_home_score %>
</p>

<p>
  <strong>Team away score:</strong>
  <%= @match.team_away_score %>
</p>

<p>
  <strong>Highlights:</strong>
  <%= @match.highlights %>
</p>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
