= nav_bar inverse: true, brand: 'SportFantasy', responsive: true do
  = menu_group do
    = menu_item 'Home', root_path
  = menu_group pull: :right do
    - if current_user
      = menu_item t('.edit_profile'), edit_user_registration_path
      = menu_item t('.log_out'), destroy_user_session_path, method: :delete
    - else
      = menu_item t('.register'), new_user_registration_path
      = menu_item t('.login'), new_user_session_path
